{% for item in basket_items %}
    <div class="basket_record">
        <img src="{{ MEDIA_URL }}{{ item.product.image_small }}" alt="{{ item.product.short_desc }}">
        <span class="category_name">{{ item.product.category.name }}</span>
        <span class="product_name">{{ item.product.name }}</span>
        <span class="product_price">{{ item.product.price }}&nbspруб</span>
        <label>
            <input type="number" name="{{ item.pk }}" min="0" max="{{ item.product.quantity }}" value = "{{ item.quantity }}">
        </label>
        <span class="product_cost">{{ item.product_cost }}&nbspруб</span>
        <span class="product_cost"> (Остаток={{ item.product.quantity }} шт)</span>
        <button class="btn btn-round">
            <a href="{% url 'basket:remove' item.pk %}" class="">
                удалить
            </a>
        </button>
    </div>
{% endfor %}

{% if basket_items %}
    <div class="basket_summary">
        В корзине {{ basket_items.0.total_quantity }} товаров общей стоимостью {{ basket_items.0.total_cost }} руб
    </div>
{% endif %}
