<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    {% endblock %}

    {% block js %}
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}
    {% block js_my %}
    {% endblock %}

</head>
<body>
	<div class="container">
        <div class="header">
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="logo">
            </div>
            {% block menu %}
            {% endblock %}
        </div>


        {% block content %}

        {% endblock %}

	</div>

    {% block footer %}
        <div class="footer">
            <hr>
            <p> Все права защищены &copy;&nbsp;{% now "Y" %} </p>
        </div>
    {% endblock %}

</body>
</html>
