{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    {% include 'mainapp/include/inc_main_menu.html' %}
{% endblock %}

{% block content %}
    <hr>
    <h1>Каталог</h1>
    <hr>

    {% for product in products %}
        <div class="catalog_item">
            <a href="/products/{{product.id}}">
                <img src="{{ MEDIA_URL }}{{ product.image_small }}" alt="{{product.name}}" width="15%">
            </a><br>
            <a href="/products/{{product.id}}">{{product.name}}</a><br>
            <br>
            ({{product.category.name}})
        </div>
    {% endfor %}

{% endblock %}
