{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    {% include 'mainapp/include/inc_main_menu.html' %}
{% endblock %}

{% block content %}
    <hr>
    <h1>Каталог</h1>
    <hr>

    {% for good in goods %}
        <div class="catalog_item">
            <a href="#">
                <img src="{% static 'img/gallery/small/' %}{{good.code}}_small.jpg" alt="{{good.name}}" width="15%">
            </a><br>
            <a href="#">{{good.name}}</a><br>
        </div>
    {% endfor %}

{% endblock %}
