{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    {% include 'mainapp/include/inc_main_menu.html' %}
{% endblock %}


{% block content %}
    <hr>
    <h1>Галерея</h1>
    <hr>

    <div class="gallery">
        {% for good in goods %}
            <img id="image>{{ good.code }}" src="{% static 'img/gallery/small/' %}{{ good.code }}_small.jpg">
        {% endfor %}
    </div>

    <div id="big_picture"></div>

{% endblock %}


{% block js %}

	<script>

        function changeBigPicture(eventObj){
            var appDiv = document.getElementById("big_picture");
            appDiv.innerHTML = "";
            var eventElement = eventObj.target;
            var imageNameParts = eventElement.id.split(">");
            var src = "{% static 'img/gallery/big/' %}" + imageNameParts[1] + "_big.jpg" ;
            var imageDomElement = document.createElement("img");
            imageDomElement.style.width = "50%";
            imageDomElement.src = src;
            // проверка наличия картинки по указанному в src адресу
            imageDomElement.onerror = function(){alert('фото большего размера не найдено')};
            appDiv.appendChild(imageDomElement);
        }

        function init (){
            var images = document.querySelectorAll('div.gallery > img');
            for (var i=0; i<images.length; i++){
                images[i].onclick = changeBigPicture;                
            }
            // При запуске покажем по умолчанию первую картинку
            images[0].click();
        }

        window.onload = init;

    </script>

{% endblock %}