{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    {% include 'mainapp/include/inc_main_menu.html' %}
{% endblock %}

{% block content %}
    <div class="details">
        <div class="links clearfix">
            {% include 'mainapp/include/inc_categories_menu.html' %}
        </div >

        <div class="products_list">
            <div class = "title clearfix">
                <h2>
                    Категория: "{{ category.name|title }}"
                </h2>

                <div class="paginator">
                    {% if products.has_previous %}
                         <a href="{% url 'products:page' category.pk products.previous_page_number %}"><</a>
                    {% endif %}
                    <span class="current">
                        страница {{ products.number }} из {{ products.paginator.num_pages }}
                    </span>
                    {% if products.has_next %}
                        <a href="{% url 'products:page' category.pk products.next_page_number %}">></a>
                    {% endif %}
                </div>

            </div>

            <br>
            <br>

            <div class = "category-products clearfix">
                {% for product in products %}
                    <div class = "catalog_item">
                        <a href="/product/{{product.id}}">
                            <img src="{{ MEDIA_URL }}{{ product.image_small }}" alt="product">
                            <div class = "text">
                                <h4> {{ product.name }} </h4>
                            </div>
                        </a>
                        <h5> Цена: {{ product.price }} </h5>
                        <a href = "{% url 'basket:add' product.pk %}" class="button_buy"> Купить </a>
                        <p> {{ product.description }} </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clr"></div>

    <h2> Горячее предложение </h2>

     <div class = "catalog_item">
        <a href="/product/{{hot_product.id}}">
            <img src="{{ MEDIA_URL }}{{ hot_product.image_small }}" alt="hot_product">
            <div class = "text">
                <h4> {{ hot_product.name }} </h4>
            </div>
        </a>
        <h5> Цена: {{ hot_product.price }} </h5>
        <a href = "{% url 'basket:add' hot_product.pk %}" class="button_buy"> Купить </a>
        <p> {{ hot_product.description }} </p>
    </div>


    <h2> Похожие товары </h2>

    {% for product in same_products %}
        <div class = "catalog_item">
            <a href="/product/{{product.id}}">
                <img src="{{ MEDIA_URL }}{{ product.image_small }}" alt="product">
                <div class = "text">
                    <h4> {{ product.name }} </h4>
                </div>
            </a>
            <h5> Цена: {{ product.price }} </h5>
            <a href = "{% url 'basket:add' product.pk %}" class="button_buy"> Купить </a>
            <p> {{ product.description }} </p>
        </div>
    {% endfor %}


{% endblock %}