<ul class="menu">
    <li {% if request.resolver_match.url_name == 'main' %} class="active" {% endif %} ><a href="{% url 'main' %}">Главная</a></li>

    <li class="{% if request.resolver_match.namespace == 'products' %}active{% endif %}">
        <a href="{% url 'products:index' %}">
            Каталог
        </a>
    </li>

    <li {% if request.resolver_match.url_name == 'gallery' %} class="active" {% endif %}>
        <a href="{% url 'gallery' %}">
            Галерея
        </a>
    </li>

    <!--
    <li { if request.resolver_match.url_name == 'cart' } class="active" { endif } ><a href="{ url 'cart' }">Корзина</a></li>
    -->

    <li {% if request.resolver_match.url_name == 'contacts' %} class="active" {% endif %}>
        <a href="{% url 'contacts' %}">
            Контакты
        </a>
    </li>

    {% if user.is_authenticated %}
        <li>
            <span class="dropdown">
                <a class="dropdown-toggle" href = "" data-toggle="dropdown">
                    {{ user.first_name|default:'Пользователь' }}  <!-- user.username -->
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'auth:edit' %}">
                            профиль
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'ordersapp:orders_list' %}">
                            заказы
                        </a>
                    </li>
                </ul>
            </span>
        </li>
    {% endif %}

    {% if user.is_superuser %}
        <li>
            <a href="{% url 'admin:users' %}">админка</a>
        </li>
    {% endif %}

    <li>
        {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">выход</a>
        {% else %}
            <a href="{% url 'auth:login' %}">вход</a>
        {% endif %}
    </li>

</ul>

<a href="{% url 'basket:view' %}" class = "basket" >
    <span>
        {% if basket %}
            <br>
            <br>
            {{ basket.0.total_cost|floatformat:0 }}р.
            <br>
            ({{ basket.0.total_quantity }}шт)
        {% endif %}
    </span>
</a>
